*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Nunito', sans-serif;
}
.main{
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(4, 1fr);
    height: 100vh;
}

.header{
    grid-row: 1 / 3;
    padding: 30px;
    background: #1A1A1E;
   
}

.header button{
    position: absolute;
    right: 35px;
    top: 35px;
    display: none;
    background: transparent;
    border: 0;
    color: #f3f3f3;
    font-size: 2.2rem;
}
.header span{
    color: #f3f3f3;
    font-size: 2rem;
}

.menu{
    padding: 5px 0;
    border-top: 2px solid #2B2B2F;
    border-bottom: 2px solid #2B2B2F;
    margin: 20px 0;
    position: relative;
}
.menu__list{
    padding-left: 0;
    list-style: none;
    font-size: 1.6rem;
}

.menu__item{
    padding: 8px;
    border-radius: 8px;
}

.menu__item + .menu__item{
    margin-bottom: 5px;
}

.menu__item:hover{
    background-color: #A0A0A2;
}
.menu__list a{
    color: #f3f3f3;
    text-decoration: none;
}
.wallet{
    padding: 15px;
    background-color: #252529;
    border-radius: 10px;
    margin-bottom: 20px;
}

.wallet h3{
    color: #f3f3f3;
    font-size: 1.6rem;
    padding-bottom: 13px;
    border-bottom: 2px solid #36373D;
}

.wallet h4{
    font-size: 1.4rem;
    color: #6E6F73;
    margin-bottom: 5px;
}

.wallet__btc{
    margin: 20px 0;
}

.profile{
    padding: 30px 0;
    border-top: 2px solid #2B2B2F;
}

.profile__account{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__account img{
    border-radius: 50%;
    background-color: red;
    margin-right: 15px;
}

.profile__account h4{
    font-size: 1.4rem;
    color: #6E6F73;
}

.profile__account span{
    font-size: 1.1rem;
}
.dashboard{
    background-color: #0C0C0C;
    padding: 30px;
    grid-row: 1 / 3;
    grid-column: 2 / 5;
    display: grid;
    gap: 30px;
    grid-template: repeat(2, 1fr) / 2fr 1fr;
    grid-template-areas: "candle-chart candle-chart"
    "buy-sell market-exchange";
    
}

.dashboard__candle-chart{
    background-color: #252529;
    border-radius: 25px;
    grid-area: candle-chart;
    padding: 16px;
    color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
}

.dashboard__candle-chart h2{
    font-size: 2rem;
}

.dashboard__candle-chart span{
    font-size: 1.2rem;
    color: #6E6F73;
}

.crypto-summary{
    width: 20%;
    padding-right: 20px;
    border-right: 2px solid #36373D;
}

.crypto-summary h5{
    font-size: 1.2rem;
    color: #6E6F73;
}
.crypto-summary__exchange{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.crypto-summary__exchange h4{
    font-size: 2rem;
    color: #0AB372;
}

.crypto-summary h6{
    font-size: 1.6rem;
    color: #6E6F73;
}
.crypto-summary p{
    font-size: 1.2rem;
    color: #6E6F73;
}

.crypto-summary__change{
    margin: 20px 0;
}

.crypto-summary__quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crypto-summary__quantity h6{
    color: #0AB372;
}
.crypto-summary__high{
    margin: 20px 0;
}

.crypto-summary__high{
    margin: 20px 0;
}

.crypto-summary__high p, .crypto-summary__low p{
    color: #f3f3f3;
    font-size: 1.6rem;
}

.crypto-chart{
    width: 80%;
    padding-left: 16px;
}
.dashboard__buy-sell{
    background-color: #252529;
    border-radius: 25px;
    grid-area: buy-sell;
    padding: 16px;
}

.dashboard__market-exchange{
    background-color: #252529;
    border-radius: 25px;
    grid-area: market-exchange;
    padding: 16px;
}

.rates{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.rates__more i{
    color: #0AB372;
}
.rates h2{
    font-size: 2rem;
    color: #0AB372;
}

.rates span{
    font-size: 1.4rem;
    color: #f3f3f3;
}
.rates__table{
    width: 100%;
}

.rates__currency--up{
    color: #0AB372;
}

.rates__currency--down{
    color: #CF314A;
}
.rates__table thead{
    border-bottom: 2px solid #36373D;
    color: #46464A;
    font-size: 1.3rem;
}
.rates__table th{
    text-align: left;
    padding-bottom: 10px;
}
.rates__table th:nth-child(3){
    text-align: right;
}

.rates__table tbody{
    font-size: 1.2rem;
    color: #f3f3f3;
    font-weight: bold;
}
.rates__table td:nth-child(3){
    text-align: right;
}
.tabs{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

.tabs li{
    flex: 1;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 2px solid #36373D;
}

.tabs li:hover{
    border-bottom: 2px solid #f3f3f3;
}
.tabs li a{
    color: #f3f3f3;
    text-decoration: none;
}

.market{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.market__buy h2, .market__sell h2{
    font-size: 2.2rem;
    color: #f3f3f3;
    margin-bottom: 10px;
}

.market__buy p, .market__sell p{
    font-size: 1.2rem;
    color: #6E6F73;
    margin-bottom: 20px;
}

.market__input-main, .market__input-secondary{
    background-color: #2A2D36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.market__input-main input, .market__input-secondary input{
    background-color: transparent;
    border: 0;
    color: #f3f3f3;
}

.market__input-main input:focus-visible, .market__input-secondary input:focus-visible{
    outline: 0;
}

.market__input-main span, .market__input-secondary span{
    background-color: transparent;
    border: 0;
    color: #6E6F73;
}

.market__range input{
    width: 100%;
    margin-bottom: 20px;
}

.market__buy button, .market__sell button{
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    color: #f3f3f3;
    padding: 8px 0;
}

.market__buy button{
    background: #02C076;
}

.market__sell button{
    background: #CF314A;
}
@media screen and (max-width: 768px){
    .main{
        grid-template: auto 1fr 1fr 1fr / repeat(2, 1fr);
        height: auto;
    }

    .header{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .header button{
        display: block;
    }
    .dashboard{
        grid-column: 1 / 3;
        grid-row: 2 / 5;
    }

    .submenu{
        position: absolute;
        background-color: #1A1A1E;
        left: -75%;
        width: 75%;
        top: 0;
        bottom: 0;
        padding: 20px;
        transition: left .5s ease;
    }

    .submenu.active{
        left: 0;
    }
    .menu{
        margin: 0 0 20px 0;
        border-top: none;
    }

    .dashboard{
        grid-template: auto 1fr auto / 1fr;
        grid-template-areas: "candle-chart"
        "buy-sell"
        "market-exchange";
    }
    .crypto-summary{
        width: 100%;
        border-right: 0;
        margin-bottom: 12px;
    }

    .crypto-chart{
        width: 100%;
        padding-left: 0;
    }
    .tabs{
        font-size: 1.6rem;
    }

    .tabs li{
        padding-bottom: 12px
    };

    .market__buy, .market__sell{
        flex: 1;
    }
    .market{
        grid-template-columns: 1fr;
    }
}